<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/sports">SportsApp</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/teams">Teams</a>
        <a class="nav-link" routerLink="/scores">Scores</a>
        <a class="nav-link" routerLink="/schedule">Scheduels</a>
      </div>
    </div>
    <span class="h3" *ngIf="currentSport">
      <a class="nav-link" routerLink="/sports">
        <img class="border-0" height="40px" src="{{getImageForSport(currentSport.type)}}"/>
        {{currentSport.name}}
      </a>
    </span>
  </div>
</nav>