<div class="row g-3 align-items-center">
  <div class="col col-sm-2">
    <h2>{{title}}</h2>
  </div>
</div>
<div class="row g-3 align-items-center mb-4">
  <div class="col col-sm-1">
    Season: 
  </div>
  <div class="col col-sm-3">
    <form [formGroup]="form">
      <select class="form-select" area-label="Select Season" formControlName="season" (change)="changeSeason()">
        <option value="">Please Select Season</option>
        <option [value]="season.year" *ngFor="let season of seasons">{{season.year}}</option>
      </select>
    </form>
  </div>
  <div class="col col-sm-3">
    <button type="button" class="btn btn-primary" routerLink="/season/new">Add Season</button>
  </div>
</div>

<ng-content *ngIf="form.valid"></ng-content>
