<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col col-sm-12 h2">
      {{edit ? 'Edit' : 'Add'}} Sport
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-8">
      <div class="row align-items-end">
        <div class="col col-sm-4">
          <label for="type">Team Type</label>
          <select class="form-select" area-label="Select Team Type" formControlName="type">
            <option value="">Please Select</option>
            <option [value]="type" *ngFor="let type of sportTypes">{{type}}</option>
          </select>
        </div>
        <div class="col col-sm-4 " *ngIf="form.value.type">
          <img class="border-0" height="40px" src="{{getImageForSport(form.value.type)}}"/>
        </div>
      </div>
    </div>
    <div class="col col-sm-8">
      <label for="name">Team Name</label>
      <input type="text" class="form-control" id="name" formControlName="name" aria-describedby="name">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col col-sm-8">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button routerLink='/teams' type="button" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</form>