<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-auto">
      <h2>Select a Sport!</h2>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-sm-8">
      <div class="row border rounded mt-2" *ngFor="let sport of sports | async">
        <div class="col col-sm-2 align-self-center">
          <img class="border-0" height="80px" src="{{getImageForSport(sport.type)}}"/>
        </div>
        <div class="col col-sm-8 align-self-center">
          <h3>{{sport.name}}</h3>
        </div>
        <div class="col col-sm-2 align-self-center">
          <button class="btn btn-primary" (click)="chooseSport(sport)">Lets Go!</button>
        </div>
      </div>
    </div>
  </div>
</div>